.box {

    transition: box-shadow .3s;
    width: 400px;
    height: 200px;
    margin: 50px;
    border-radius:10px;
    border: 1px dashed black;
    background: #fff;
    float: left;
    
  }
  .box:hover {
    box-shadow: 0 0 20px rgba(29, 25, 25, 0.2); 
  }
  
  .imagessetting{
  padding-left: 80px;
  padding-right: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  
  
  
  
  
  }
  textarea{
    border: 1px solid black

  }